dotnet/WebServer/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10149/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataServer" />
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataServer" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q1:ArrayOfTestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>